:root {
    --panel-color:hsl(170, 50%, 95%);
}

body,html {
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 100%;
	height:100%;
}

body {
  background-color: hsla(190, 20%, 70%, 1);
  flex-direction: column;
  display: flex;
}

h1,h2,h3 {
	margin: 0px 2px;
	font-family: sans-serif;
	

}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/* Main sections
*/
header,footer {
	/*box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
	border: 2px solid white;
	margin:  4px;
	border-radius: 10px;
	position: relative;
	z-index: 100;
	background-color: var(--panel-color);
	height: 100px;
*/
}



#app {
	position: relative;
	z-index: 0;
	position: relative;
	overflow: hidden;
	display: flex;
	flex:1;
	flex-direction: column;
}

#main-columns {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: white;
	border:  2px solid magenta;
}



.main-column {
	position: relative;
	
	/*margin: 0px auto;*/
	right: 0px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, .5);
	width: 800px;
	
	display: flex;
	flex-direction: column;
	
}

#debug {
	border:  2px solid red;
	width:  200px;
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/* Format things?
*/

.p5-holder {
	position: relative;
border:  4px solid pink;
}

.contrast {
	color: hsla(320, 100%, 40%, 1);
}
.title {
	font-family: sans-serif;
	font-weight: bold;
}
#myAudio {
	/*position:  absolute;*/
}

.ultradetail  {
	color: grey;
	font-style: italic;
	font-size: 50%;
}

.label {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 80%;
}

.slider {
	position: relative;
	appearance: slider-horizontal;
    color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
    cursor: default;
    padding: initial;
    border: initial;
    margin: 2px;
}

.slider-cell {
	position: relative;
}
.slider-val {
	position: absolute;
	top: -3px;
	color: grey;
	font-style: italic;
	font-size: 50%;
}


.emoji-button {
	text-align: center;
	width: 2em;
	height: 2em;
	border-width: 0px;
	border-radius: 10em;
	padding: 0px;
	background-color: white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .7);
}
/* The button when pressed */
.emoji-button:active {
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .5);
}

button.toggled {
	background-color: grey;
}

.controls {
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 5px;
	padding: 4px;


	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, .5);
	width: auto;
	
	
}



.handsfree-pointer {
	top: 0px;
	position: absolute;
	width:240px;
}


.handsfree-debugger {
	bottom: 0px;
	position: absolute;
	width:240px;
}
